body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-size: 2rem;
  background-color: #2323;
  background-color: white;
}
html {
  font-size: 62.5%;
}
.nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4.8rem;
  box-shadow: 0 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
.nav-list {
  display: flex;
  list-style-type: none;
}
.nav-link:link,
.nav-link:visited {
  color: black;
  padding: 2rem;
  text-decoration: none;
  transition: all 0.2s;
}
.logo-img {
  width: 20rem;
}
.main {
  max-width: 140rem;
  margin: 0 auto;
}
.container {
  display: grid;
  grid-template-columns: 1fr max-content;
  padding: 2rem;
  margin-left: 4rem;
  gap: 5rem;
}
.main-heading {
  letter-spacing: -0.2rem;
}
.main-text {
  word-spacing: 0.5rem;
  line-height: 3rem;
}
.gif-box {
  justify-self: center;
  align-self: center;
  transition: all 0.2s;
}
.gif-box:hover {
  transform: scale(1.1);
}

.gif {
  pointer-events: none;
  border: none;
  width: 100%;
}
.active {
  font-weight: 600;
}
